[Desktop Entry]
Name=Scalcualtor
Comment=Simple but full-fledged calculator
Keywords=calc;calculator;scalc;scalculator;
Exec=scalculator2
Icon=scalculator
Terminal=false
Type=Application
Categories=Utility;Calculator;
