Package: scalculator
Version: 1.0.0
Architecture: amd64
Essential: no
Section: web
Priority: optional
Depends: libqt5gui5
Maintainer: nth233
Installed-Size: 1
Description: The Calculator that could big number.
